.locale-label {
    margin: auto;
}

.locale-labelspan {
    width: 14%;
}

.locale-name.form-control {
    width: 15%;
    border-right-width: 0px;
}

.locale-message.form-control {
    width: 85%;
    border-right-width: 0px;
}
