<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Zarządzanie kontem</title>
    <script th:src="@{/js/account.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${errors != null}" class="row">
        <br/>
        <div class="alert alert-danger fade in" th:each="error : ${errors}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong th:text="${error.field}"></strong>: <span th:text="${error.defaultMessage}"></span>
        </div>
    </div>
    <div class="account-panel">
        <form id="account-form" class="form-horizontal" th:action="@{/admin/account}" method="post" th:object="${user}" >
        <div id="image-container">
            <img id="profile-image" src="https://s-media-cache-ak0.pinimg.com/236x/61/2a/76/612a76240b86a3085ef5dd0624e0d172.jpg" th:src="${user.profileImageUrl != null} ? ${user.profileImageUrl} : 'https://s-media-cache-ak0.pinimg.com/236x/61/2a/76/612a76240b86a3085ef5dd0624e0d172.jpg'" />
        </div>
        <div id="inputs-container">
                <fieldset>
                    <!--id-->
                    <input id="idInput" type="hidden" name="idInput" th:field="*{id}"/>
                    <!-- Imie-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nameInput">Imię :</label>
                        <div class="col-md-5">
                            <input id="nameInput" name="nameInput" type="text" placeholder="" class="form-control input-md" required="" disabled="true" th:field="*{firstName}"/>
                        </div>
                    </div>
                    <!-- Nazwisko-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="surnameInput">Nazwisko :</label>
                        <div class="col-md-5">
                            <input id="surnameInput" name="surnameInput" type="text" placeholder="" class="form-control input-md" required="" disabled="true" th:field="*{lastName}" />
                        </div>
                    </div>

                    <!-- E-mail-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="emailInput">E-mail :</label>
                        <div class="col-md-5">
                            <input id="emailInput" name="emailInput" type="text" placeholder="" class="form-control input-md" required="" disabled="true" th:field="*{email}" />
                        </div>
                    </div>

                    <!--Zdjecie-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="imageInput">Zdjęcie profilowe :</label>
                        <div class="col-md-5">
                            <input id="imageInput" name="imageInput" type="text" placeholder="" class="form-control input-md"  disabled="true" th:field="*{profileImageUrl}" />
                        </div>
                    </div>

                    <!-- Numer telefonu-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="phoneInput">Numer telefonu :</label>
                        <div class="col-md-5">
                            <input id="phoneInput" name="phoneInput" type="text" placeholder="" class="form-control input-md" required="" disabled="true" th:field="*{phoneNumber}" />
                        </div>
                    </div>

                    <!-- Jakies pole-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="input">Jakaś dana :</label>
                        <div class="col-md-5">
                            <input id="input" name="input" type="text" placeholder="" class="form-control input-md"  disabled="true" />
                        </div>
                    </div>
                </fieldset>
        </div>
        </form>
    </div>
    <div class="buttons-account ">
        <button id="button-save" class="btn btn-success btn-block" type="submit" form="account-form">Zapisz zmiany</button>
        <button id="button-edit" class="btn btn-info btn-block" onclick="editButtonOnClick()">Edytuj dane</button>
    </div>
    <br/>
</div>

</body>
</html>