<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
    <div layout:fragment="content">
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>
            
        <div class="row row-eq-height">
	         <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
	             <div class="panel panel-primary">
	                 <div class="panel-heading">
	                     <div class="row">
	                         <div class="col-xs-3">
	                             <i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i>
	                         </div>
	                         <div class="col-xs-9 text-right">
	                             <div class="huge">Wiadomość powitalna</div>
	                         </div>
	                     </div>
	                 </div>
                     <a th:href="@{/admin/greetings}">
	                     <div class="panel-footer">
	                         <span class="pull-left">Ustawienia</span>
	                         <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                         <div class="clearfix"></div>
	                     </div>
	                 </a>
	             </div>
	         </div>
	         
	         <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
	             <div class="panel panel-green">
	                 <div class="panel-heading">
	                     <div class="row">
	                         <div class="col-xs-3">
	                             <i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
	                         </div>
	                         <div class="col-xs-9 text-right">
	                             <div class="huge">Produkty</div>
	                         </div>
	                     </div>
	                 </div>
	                 <a th:href="@{/admin/products}">
	                     <div class="panel-footer">
	                         <span class="pull-left">Ustawienia</span>
	                         <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                         <div class="clearfix"></div>
	                     </div>
	                 </a>
	             </div>
	         </div>

			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="panel panel-yellow">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-tags fa-5x" aria-hidden="true"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">Słowa kluczowe</div>
							</div>
						</div>
					</div>
					<a th:href="@{/admin/keywords}">
						<div class="panel-footer">
							<span class="pull-left">Ustawienia</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
	     </div>
 
    </div>
</body>
</html>