<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Greeting Text Configuration</title>
    <script th:src="@{/js/greeting.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <h1>Wiadomość powitalna na mesengerze :</h1>
            <br/>
            <form action="#" th:action="@{/admin/greeting}" th:object="${greeting}" method="post">
                <div class="form-group">
                    <label for="messageInput">Wpisz wiadomość: </label>
                    <input id="messageInput" class="form-control" type="text" name="message" th:field="*{content}"/>
                </div>
                <input class="btn btn-primary" type="submit" value="Zatwierdź"/>
            </form>
            <br/>
            <h3>Istnieje możliwość wpisania specjalnych znaczników dotyczących użytkownika który otwiera okno rozmowy</h3>
            <p>Możesz umieśćic następujące znaczniki:</p>
            <ul>
                <li>{{user_first_name}} - w to miejsce zostanie umieszczone imie użytkownika który otwiera okno rozmowy <button class="btn btn-info" onclick="addText('{{user_first_name}}')">Dodaj znacznik</button></li>
                <li>{{user_last_name}}  -  jak wyżej tylko, że nazwisko <button class="btn btn-info" onclick="addText('{{user_last_name}}')">Dodaj znacznik</button></li>
                <li>{{user_full_name}}  - oraz jedno i drugie <button class="btn btn-info" onclick="addText('{{user_full_name}}')">Dodaj znacznik</button></li>
            </ul>
        </div>
    </div>
</body>
</html>