<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Zarządzanie słowami kluczowymi</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="row">
            <h1 class="page-header">
                Zarządzanie słowami kluczowymi
                <button class="btn btn-primary pull-right">Dodaj nowe słowo kluczowe</button>
            </h1>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table id="keywordTable" class="table table-bordered table-striped table-condensed">
                    <thead>
                        <th class="text-center">ID</th>
                        <th class="text-center">Słowo kluczowe</th>
                        <th class="text-center">Edycja</th>
                        <th class="text-center"> Usuwanie</th>
                    </thead>
                    <tbody>
                    <tr th:id="'keyword-' + ${keyword.id}" th:each="keyword: ${keywords}">
                        <td class="align-middle text-center" th:text="${keyword.id}">ID</td>
                        <td class="align-middle text-center"><strong th:text="${keyword.word}">Word</strong></td>
                        <td class="align-middle text-center">
                            <div data-placement="top" data-toggle="tooltip" title="Edytuj">
                                <button class="btn btn-primary btn-xs button-edit center-block" th:attr="data-keyword-id=${keyword.id}">
                                    <span class="glyphicon glyphicon-pencil" />
                                </button>
                            </div>
                        </td>
                        <td class="align-middle">
                            <div data-placement="top" data-toggle="tooltip" title="Usuń">
                                <button class="btn btn-danger btn-xs button-delete center-block" th:attr="data-keyword-id=${keyword.id}">
                                    <span class="glyphicon glyphicon-trash" />
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>