<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Zarządzanie słowami kluczowymi</title>
    <script th:src="@{/js/keywords.js}"></script>
</head>
<body>
    <div layout:fragment="content">

        <div class="row">
            <h1 class="page-header">
                Zarządzanie słowami kluczowymi
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#keyword-form-modal">Dodaj nowe słowo kluczowe</button>
            </h1>
        </div>

        <div th:if="${errors != null}" class="row">
            <div class="alert alert-danger fade in" th:each="error : ${errors}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong th:text="${error.field}"></strong> <span th:text="${error.defaultMessage}"></span>
            </div>
        </div>

        <div class="alert alert-danger fade in" th:if="${error != null}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span th:text="${error.defaultMessage}"></span>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table id="keywordTable" class="table table-bordered table-striped table-condensed">
                    <thead>
                        <th class="text-center">ID</th>
                        <th class="text-center">Słowo kluczowe</th>
                        <th class="text-center">Edycja</th>
                        <th class="text-center"> Usuwanie</th>
                    </thead>
                    <tbody>
                    <tr th:id="'keyword-' + ${keyword.id}" th:each="keyword: ${keywords}">
                        <td class="align-middle text-center" th:text="${keyword.id}">ID</td>
                        <td class="align-middle text-center"><strong th:text="${keyword.word}">Word</strong></td>
                        <td class="align-middle text-center">
                            <div data-placement="top" data-toggle="tooltip" title="Edytuj">
                                <button class="btn btn-primary btn-xs button-edit center-block" th:attr="data-keyword-id=${keyword.id}" data-toggle="modal" data-target="#keyword-form-modal">
                                    <span class="glyphicon glyphicon-pencil" />
                                </button>
                            </div>
                        </td>
                        <td class="align-middle">
                            <div data-placement="top" data-toggle="tooltip" title="Usuń">
                                <button class="btn btn-danger btn-xs button-delete center-block" th:attr="data-keyword-id=${keyword.id}" data-toggle="modal" data-target="#confirm-delete-modal">
                                    <span class="glyphicon glyphicon-trash" />
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="keyword-form-modal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal" th:action="@{/admin/keywords}" method="post" th:object="${keywordForm}">
                        <fieldset>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title">Edit keyword</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" id="id_form_div" th:classappend="${#fields.hasErrors('id')}? 'has-error'"> <!-- -->
                                    <label class="col-sm-3 control-label">ID</label>
                                    <div class="col-sm-9">
                                        <p id="id_form_static" class="form-control-static" th:text="*{id}">123</p>
                                        <input id="id_form" type="hidden" th:field="*{id}"/>
                                    </div>
                                    <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name error</p>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('word')}? 'has-error'"> <!--  -->
                                    <label class="col-sm-3 control-label" for="word_form">Słowo</label>
                                    <div class="col-sm-9">
                                        <input id="word_form" class="form-control autofocus" th:field="*{word}" />
                                    </div>
                                    <p th:if="${#fields.hasErrors('word')}" th:errors="*{word}">Name error</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-lg btn-block button-submit">Zapisz</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="header">Potwierdź usunięcie słowa kluczowego</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-warning-sign"></span>Czy na pewno chcesz usunąć słowo kluczowe &quot;<span class="word-placeholder"></span>&quot;?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success button-delete">
                            <span class="glyphicon glyphicon-ok-sign"></span> Tak
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span> Nie
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>