<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">Messenger Recomendations</title>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body th:inline="text">    
    
    <div id="wrapper">
    	<div id="page-wrapper" class="container" layout:fragment="content">A placeholder for real content.</div>
    
	    <footer>
	    	<p class="text-muted pull-right">©[[${#dates.year(#dates.createNow())}]] Hycom | Politechnika Łódzka</p>
	    </footer>
	</div>
    
  </body>
</html>