<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>

</head>
<body>
<div layout:fragment="content">

    <div class="form-control ">
        <form method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="text" name="txtInput" value="" />
            <input type="submit" name="test" value="Analiza tekstu"/>
        </form>
    </div>

    <div class="form-control">
        <button onclick="location.href = 'nlpResult'">Wynik analizy</button>
    </div>

</div>

</body>
</html>